/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
  --actionBackgroundColor: #f76b8a;
  --actionTextColor: white;
  --activeColor: #66bfbf;
  --standardBackgroundColor: #fcfefe;
  --alternativeBackgroundColor: #eaf6f6;
  --standardTextColor: black;
  --lightColor: lightgray;
  --moderateColor: darkgray;
}

body {
  background-color: var(--alternativeBackgroundColor);
}

input:focus,
select:focus,
textarea:focus,
button:focus  {
  outline-color: var(--activeColor);
}

select {
  border-color: var(--moderateColor);
}

input[type=text] {
  border-color: var(--lightColor);
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  transform: scale(1.1);
}

.MenuBar{
  display: flex;
  justify-content: space-between;
  background-color: var(--standardBackgroundColor);
}
.Menus button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}


.Question{
  background-color: var(--standardBackgroundColor);
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Question input, select{
  border: 1px solid darkgray;
  border-radius: 5px;
  margin-top: 10px;
}

.EditQ{
  padding: 10px;
}

.LogSelectionBar button{
  background: transparent;
  border: none;
}

.LogSelectionBar {
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SubmitButton{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SubmitButton button{
  background-color: var(--actionBackgroundColor);
  border-radius: 10px;
  width: 80px;
  height: 50px;
  border: none;
  color: #eaf6f6;
}
.Save{
  background-color: var(--actionBackgroundColor);
  border-radius: 10px;
  width: 80px;
  height: 50px;
  border: none;
  color: #eaf6f6;
}

.ProfileImg {
  border: none;
  background-color: transparent;
}

.RemoveAndLogOut{
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.ProfileTab1{
  display: flex;
  justify-content: space-between;
}

.ProfileTabs{
  background-color: var(--standardBackgroundColor);
  border-radius: 10px;

  padding: 10px;
  margin-bottom: 10px;
}
.ProfileTabs h3{
  margin-top: 5px;
}

.ChooseImg{
  background-color: var(--activeColor);
  border-radius: 7px;
  width: 140px;
  height: 35px;
  border: none;
}
.ProfileTabs input{
  border: 1px solid darkgray;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.Profile{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 600px) {
  .Header{
    display: none;
  }
  .LogSelectionBar {
    padding: 10px;
    width: 100%;

  }
  .SubmitButton{
    width: 100%;
  }
  .Question{
    width: 100%;
  }
}